:root {
  --primary-color: #efeeea;
  --secondary-color: #fe7743;
  --header-color: #273f4f;
}

.container-section {
  padding: none;
}

.section-1 {
  background-image: url("./public/img/banner.jpg");
  background-size: cover;
  background-position: center;
}
