/* src/components/Header/Header.css */
header {
  background-color: var(--header-color);
  color: white;
  padding: 16px 24px;
  position: sticky;
  top: 0;
  z-index: 999;
  /*AnimasiFade-indarisamping*/
  opacity: 0;
  transform: translateY(-50px);
  animation: headerFadeIn 1s forwards ease-out;
  -webkit-animation: headerFadeIn 1s forwards ease-out;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.container-header img {
  width: 150px;
  height: auto;
}

.container-header nav {
  display: flex;
}

.container-header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
}

.container-header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  position: relative;
  transition: color 0.3s;
}

.menu-toggle {
  display: none;
}

@keyframes headerFadeIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .container-header {
    padding: 0 10px;
  }

  .menu-toggle {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
    line-height: 1;
  }

  /* Styling Navigasi Mobile */
  .container-header nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--header-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 998;
    transition: all 0.3s ease-in-out;
  }

  .container-header .nav-open {
    display: block;
    height: auto;
  }

  .container-header nav ul {
    flex-direction: column;
    padding: 10px 0;
    gap: 0;
    width: 100%;
  }

  .container-header nav ul li {
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .container-header nav ul li:last-child {
    border-bottom: none;
  }

  .container-header nav ul li a {
    display: block;
    padding: 15px 24px;
    width: 100%;
  }
}
