/* src/components/Footer.css */
.footer {
  background-color: var(--header-color);
  color: white;
  text-align: center;
  padding: 24px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.social-media a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-media a:hover {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 15px;
  }
}
