:root {
  --primary-color: #efeeea;
  --secondary-color: #fe7743;
  --header-color: #273f4f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif; /* Font default untuk seluruh website */
}

/* Mengatur font khusus untuk judul */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
