:root {
  --primary-color: #efeeea;
  --secondary-color: #fe7743;
  --header-color: #273f4f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
