/* src/components/Banner/Banner.css */
.banner-section {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 105%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.banner-content {
  z-index: 1;
  padding: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-out; /* Animasi fade yang halus */
}

.banner-content h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 1.5rem;
}

/* Penyesuaian untuk tampilan mobile */
@media (max-width: 768px) {
  .banner-content h1 {
    font-size: 2.5rem;
  }
  .banner-content p {
    font-size: 1.2rem;
  }
}
